.hidden
{
  display: none;
}

body{
    
}

#hide
{
  display: none;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

  .container {
    margin: 0 auto;
    background-color: #fff;
    /* max-width: 1500px; */
  }

  h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: italic;
  }


  /*----------HOME PAGE-------------------*/
/* mobile nav */
  #mainNav button
{
	background: url(..//images/burger.svg) center no-repeat;
	width: 30px;
	height: 30px;
	border: 0px;
	transition: all 400ms ease;
  margin-top: 80px;
  margin-left: 10px;
  
}

#mainNav button.expanded
{
	-webkit-transfrom: rotate(90deg);
	-ms-transfrom: rotate(90deg);
	transform: rotate(90deg);
  background: url(../images/burger_active.svg) center no-repeat;
	width: 30px;
  height: 30px;
 
}

#mainNav ul
{
  list-style-type: none;
}

#mainNav ul li a{
  text-decoration-line: underline;
 text-decoration-color: orange;
  color: white;
}



#burgerCon
{
margin-top: 20px;
display: none;
}

#burgerCon.slideToggle
{
	display: block;
}
/*---------------------------*/
  .mainHeader
  {
      width: 375px;
      height: 217px;
      width: 100%;
      background-color: #2C3C50;
  }

 

.logoHeader
{
	width: 220px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.mainHeader
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

h3{
    text-align: center;
    font-size: 60px;

}
/*----------banner----------*/

.banner
{
    width: 375px;
    height: 413px;
    background-color: #1ABC9C;
    width:100%;
}


#text 
{
    text-align: center;
    padding: 46px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}


/*----------portfolio pieces----------*/
.boxes
{
   width: 100%;
    
}
#box1
{
    
    height: 250px;
    background-color: grey;
     margin-top:10px;
     margin-bottom: 8px; 
}
#box2
{
    
    height: 250px;
    background-color: blue;
    margin-bottom: 10px;
   
}
#box3
{
    
    height: 250px;
    margin-bottom: 10px;
   
}
 #box4
{
    
    height: 250px;
    background-color: orange;
    margin-bottom: 10px;
    
} 
/* #box5
{
    height: 250px;
    background-color: green;
    margin-bottom: 10px;
    
}
#box6
{
    
    height: 250px;
    background-color: yellow;
    margin-bottom: 10px;
    
} */

.portfolioPieces h1
{
  text-align: center;
  font-family: 'Roboto', sans-serif, bold;
  font-size: 25px;
}

.portfolioPieces p
{
    text-align: center;
}



.portfolioPieces ul 
{
  list-style-type: none;
  text-align: center;
}

.portfolioPieces ul li{
  display: inline;
  font-family: 'Roboto', sans-serif, bold;
  font-size: 25px;
  color: #2C3C50;
}


.portfolioPieces ul li:hover
{
  color: orange;
}

/*---------ABOUT--------*/

.about h3{
  color: white;
  margin-top: 150px;
}

.about p 
{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 25px;
}


.about{
    height: 800px;
    background-color: #1ABC9C;
    padding: 16px;
    
}



/*---------Contact----------*/

.contact
{
    height: 511px;
    background-color: white;
}

.contact h3{
  color: #2C3C50;
}

.footer
{
    height: 345px;
    background-color: #2C3C50;
}






.contact-form label
{
  font-size: 15px;
  font-family: 'Averia Serif Libre', cursive;
  color: #53652b;
  float: left;
}

.contact-form input textarea
{
  background-color: #fff;
  opacity: 0.9;
}

.contact-form input[type=placeholder]
{
  font-family: 'Open Sans', sans-serif;
}

.contact-form placeholder
{
  font-family: 'Open Sans', sans-serif;
}

.contact-form input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #1ABC9C;
}


.contact-form textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #1ABC9C;
  /*box-sizing: border-box;*/
}

.text
{
  margin: 20px;
}

.btn
{
  display: inline-block;
  background: #2C3C50;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
}

.btn:hover, button:hover {
  background: gray;
}

/*------------FOOTER-------------*/

#footerNavMobile ul
{
  list-style-type: none;
  text-align: center;
  
}

#footerNavMobile ul li{
  display: inline;
  margin: 10px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  
}

#footerNavMobile ul li a
{
color:white;
text-decoration: none;
} 

.footer h2
{
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
 font-family: 'Roboto', sans-serif, bold;
 text-decoration-line: underline;
 text-decoration-color: orange;
}